html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: #aaa;
  font-family: sans-serif;
}

#playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}

#playlist a {
  position: relative;
  border: solid 1px black;
}

#playlist a:hover {
  border: solid 1px white;
}

#playlist a:hover:after {
  position: absolute;
  content: attr(title);
  color: white;
  font-weight: bold;
  bottom: 3px;
  left: 3px;
}

#playlist a.playing {
  border: solid 3px white;
}

#playlist a img {
  max-width: 100%;
  opacity: 0.7;
}

#playlist a.playing img {
  opacity: 1.0;
}
