html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: #aaa;
  font-family: sans-serif;
}

#playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}

#playlist a {
  opacity: 0.7;
}

#playlist a img {
   max-width: 100%;
}

#playlist a.playing {
  border: solid 3px white;
  opacity: 1.0;
}
